<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
          crossorigin="anonymous">
</head>
<body>
    <div class="container text-center">
        <div class="row">
            <h2>Steam on minimalkax :)</h2>
        </div>
        <div class="row">
            <a href="/games" class="lead">Games page</a>
        </div>
    </div>
</body>
</html>
